<!--{template common/header}-->
<style id="diy_style" type="text/css"></style>
<div class="wp">
    <!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
</div>
<div class="row"> 
    <section class="span12 latest-work">
        <div class="title-divider">
            <div class="divider-arrow"></div>                                  
            <h3>Latest Work</h3>       
        </div><!--END: divider arrow-->
    
    
        <div class="row da-thumbs">
            <article class="span3">
                <img src="example/latest1.jpg" alt="photo" />
                <div>
                    <a href="example/view.jpg" class="p-view" data-rel="prettyPhoto"></a>
                    <a href="portfolio-single.html" class="p-link"></a>
                </div>
            </article><!--END: latest blog col 1 -->
            
            <!--BEGIN: latest blog col 2 -->
            <article class="span3">
                <img src="example/latest2.jpg" alt="photo" />
                <div>
                    <a href="example/view.jpg" class="p-view" data-rel="prettyPhoto"></a>
                    <a href="portfolio-single.html" class="p-link"></a>
                </div>
            </article><!--END: latest blog col 2 -->
            
            <!--BEGIN: latest blog col 3 -->
            <article class="span3">
                <img src="example/latest3.jpg" alt="photo" />
                <div>
                    <a href="example/view.jpg" class="p-view" data-rel="prettyPhoto"></a>
                    <a href="portfolio-single.html" class="p-link"></a>
                </div>
            </article><!--END: latest blog col 3 -->
            
            <!--BEGIN: latest blog col 4 -->
            <article class="span3">
                <img src="example/latest4.jpg" alt="photo" />
                <div>
                    <a href="example/view.jpg" class="p-view" data-rel="prettyPhoto"></a>
                    <a href="portfolio-single.html" class="p-link"></a>
                </div>
            </article><!--END: latest blog col 4 -->
            
            <!--BEGIN: latest blog col 5 -->
            <article class="span3">
                <img src="example/latest5.jpg" alt="photo" />
                <div>
                    <a href="example/view.jpg" class="p-view" data-rel="prettyPhoto"></a>
                    <a href="portfolio-single.html" class="p-link"></a>
                </div>
            </article><!--END: latest blog col 5 -->
            
            <!--BEGIN: latest blog col 6 -->
            <article class="span3">
                <img src="example/latest6.jpg" alt="photo" />
                <div>
                    <a href="example/view.jpg" class="p-view" data-rel="prettyPhoto"></a>
                    <a href="portfolio-single.html" class="p-link"></a>
                </div>
            </article><!--END: latest blog col 6 -->
            
            <!--BEGIN: latest blog col 7 -->
            <article class="span3">
                <img src="example/latest7.jpg" alt="photo" />
                <div>
                    <a href="example/view.jpg" class="p-view" data-rel="prettyPhoto"></a>
                    <a href="portfolio-single.html" class="p-link"></a>
                </div>
            </article><!--END: latest blog col 7 -->
            
            <!--BEGIN: latest blog col 8 -->
            <article class="span3">
                <img src="example/latest8.jpg" alt="photo" />
                <div>
                    <a href="example/view.jpg" class="p-view" data-rel="prettyPhoto"></a>
                    <a href="portfolio-single.html" class="p-link"></a>
                </div>
            </article><!--END: latest blog col 8 -->

        </div>
    </section>
</div>
<script src="misc.php?mod=diyhelp&action=get&type=index&diy=yes&r={echo random(4)}" type="text/javascript"></script>
<!--{template common/footer}-->
