<!--{template common/header}-->
<style id="diy_style" type="text/css"></style>
<div class="row">
    <!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
</div>
<div class="row">
    <!--[diy=diy_album]--><div id="diy_album" class="area"></div><!--[/diy]-->
</div>
<div class="row">
    <!--[diy=diy_pic]--><div id="diy_pic" class="area"></div><!--[/diy]-->
</div>
<script src="misc.php?mod=diyhelp&action=get&type=index&diy=yes&r={echo random(4)}" type="text/javascript"></script>
<!--{template common/footer}-->
