    <!--{template common/header}-->
    <style id="diy_style" type="text/css"></style>
    <div class="container">
        <!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
    </div>
    <div class="ct2_a wp cl" id="ct">
        <div class="appl">
            <!--{template home/space_menu2}-->
        </div>
        <div class="mn pbm">
            <!--[diy=diycontenttop]--><div id="diycontenttop" class="area"></div><!--[/diy]-->
            <div class="bm bw0">
                <div class="bm_c">

                <!--{subtemplate home/space_profile_body}-->
        
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wp mtn">
    <!--[diy=diy3]--><div id="diy3" class="area"></div><!--[/diy]-->
</div>
<!--{template common/footer}-->