<div id="banner" class=" hidden-xs">
    <ul id="banner_img">
        <!--{loop $fe_focuslist $key $value}-->
            <li style="background-color:$value[bgcolor]">
              <div class="container">
                  <div class="ba_txt">
                      <h2>$value[title] 2222</h2>
                      $value[desc]
                  </div>
                  <div class="ba_img">
                      <img data-src="$value[pic]" width="600" height="320" alt="$value[title]" class="lazy" src="$value[pic]" />
                  </div>
              </div>
          </li>
        <!--{/loop}-->
    </ul>
    <div id="banner_ctr">
        <div id="drag_ctr"></div>
        <ul class="ba_ctr">
            <!--{loop $fe_focuslist $key $value}-->
            <li class="ctr$key"></li>
            <!--{/loop}-->
        </ul>
    </div>
</div>
<style>
#banner { width: 100%; height:360px;overflow: hidden; position: relative; margin-bottom:35px;}
#banner_img {display: block; position: relative; height:100%;}
    #banner_img li { position: absolute; top:0; left: 0; width: 100%;height: 100%; background-position: center; background-size: cover; display: none; }
        /*设置背景图片-------开始*/
    /*设置背景图片--------结束*/
    .ba_img { position: absolute; left: 60%; top: 40px; width: 506px; height: 404px; margin-left:3%}
        /*.ba_img img{-webkit-transition:-webkit-transform 4s linear;transition:transform 4s linear;-webkit-transform:scaleX(1.05) scaleY(1.05);-ms-transform:scaleX(1.05) scaleY(1.05);transform:scaleX(1.05) scaleY(1.05)}
        .ba_cur0 .i0 .ba_img img{-webkit-transform:scaleX(1) scaleY(1);-ms-transform:scaleX(1) scaleY(1);transform:scaleX(1) scaleY(1)}*/
    #banner_img .ba_txt { position: absolute; left:50%; top:70px; color: #fff; text-shadow: 1px 1px rgba(51,51,51,0.3); margin-left:-490px; }
        #banner_img .ba_txt h2 { font: bold 36px/60px "Microsoft YaHei","黑体"; }
        #banner_img .ba_txt a { display: block; width: 100px; height: 25px; line-height: 25px; text-align: center; margin-top: 10px; background: #fff; color: #666; text-decoration: none; text-shadow: none; }
        #banner_img .ba_txt p{font-size:16px;line-height:2em}
#banner_ctr { position: absolute; width:144px; height:24px; margin-left: -72px; left: 50%; bottom:7px; z-index: 1;overflow:hidden;border-radius:12px;}
    .ba_ctr {height:100%;background-color:rgba(255,255,255,.4); font-size: 0; line-height: 0; position: relative; padding:2px;width:228px;}
    .ba_ctr li {float:left;width:20px; height:20px; border-radius:10px; cursor: pointer;/*background:#fff url(static/pic/ba_ctr.png) no-repeat 4px 6px;*/margin-right:20px;background-color:#ccc;}
    .ba_ctr .cur{background-color:#fff;}
    /*.ba_cur0 .ctr0{background-position:4px -33px}
    .ba_ctr .ctr1{background-position:-34px 6px}
    .ba_cur1 .ctr1{background-position:-34px -33px}
    .ba_ctr .ctr2{background-position:-79px 6px}
    .ba_cur2 .ctr2{background-position:-79px -34px}
    .ba_ctr .ctr3{background-position:-116px 6px}
    .ba_cur3 .ctr3{background-position:-118px -34px}*/
  #drag_ctr { position: absolute; top:2px; left:2px; width:20px; height:20px;border-radius:10px; background: #fff; }
</style>
<script type="text/javascript">
    ;(function($){
          var curIndex = 0,
              time = 800,
              slideTime = 6000,
              baTxt = $("#banner_img .ba_txt"),
              baImg = $("#banner_img .ba_img"),
              baImgItems = $("#banner_img>li"),
              baCtrItems = $("#banner_ctr>ul>li"),
              cur_ctrCls = "cur",
              container = $("#banner"),
              len = baImgItems.size();

          $.each(baCtrItems, function(index){
              $(this).data("index", index);
          });

          function autoSlide() {
              var index = curIndex + 1 >= len ? 0 : curIndex + 1;
              show(index);
          }
          function show(index) {
              $.easing.def = "easeOutQuad";
              $("#drag_ctr").stop(false, true).animate({ left: index * 40 + 2 }, 300);
              container.removeClass("ba_cur"+curIndex);
              container.addClass("ba_cur"+index);

              baCtrItems.eq(curIndex).removeClass(cur_ctrCls);
              baCtrItems.eq(index).addClass(cur_ctrCls);
              baImgItems.eq(curIndex).stop(false, true).fadeOut(time);
              baTxt.eq(curIndex).stop(false, true).animate({ top: "340px" }, time);
              baImg.eq(curIndex).stop(false, true).animate({ right: "120px" }, time);
              setTimeout(function () {
                  baImgItems.eq(index).stop(false, true).fadeIn(time);
                  baTxt.eq(index).children("p").css({ paddingTop: "50px", paddingBottom: "50px" }).stop(false, true).animate({ paddingTop: "0", paddingBottom: "0" }, time);
                  baTxt.eq(index).css({ top: "0", opacity: "0" }).stop(false, true).animate({ top: "70px", opacity: "1" }, time);
                  baImg.eq(index).css({ left: "60%", opacity: "0" }).stop(false, true).animate({ left: "50%", opacity: "1" }, time);
              }, 200)
              curIndex = index;
              baImg.find(".lazy").trigger("ishow"+index);
          }

          var int = setInterval(function(){
              autoSlide();
          }, slideTime);
          
          baCtrItems.click(function () {
              if(int){
                  window.clearInterval(int);
                  int = 0;
              }

              show($(this).data("index"));
              
              int = setInterval(function(){
                  autoSlide();
              }, slideTime);
          });
          show(0);
      })(jQuery);
</script>
