<!--{eval $friendsname = array(1 => '{lang friendname_1}',2 => '{lang friendname_2}',3 => '{lang friendname_3}',4 => '{lang friendname_4}');}-->

<!--{template common/header}-->

<div id="pt" class="bm cl">
    <div class="z">
        <a href="./" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a> <em>&rsaquo;</em>
        <a href="home.php?mod=photo&do=album">{lang album}</a>
    </div>
</div>
<style id="diy_style" type="text/css"></style>
<div class="wp">
    <!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
</div>
<div id="ct" class="ct1 wp cl">
    <div class="mn pbm">
        <!--[diy=diycontenttop]--><div id="diycontenttop" class="area"></div><!--[/diy]-->
        <div class="ptw">
            <!--{if $searchkey}-->
            <p class="mbw">{lang follow_search_album} <span style="color: red; font-weight: 700;">$searchkey</span> {lang doing_record_list}</p>
            <!--{/if}-->

            <!--{if $pricount}-->
            <p class="mbw">{lang hide_album}</p>
            <!--{/if}-->

            <!--{if $count}-->
            <ul class="ml mla cl">
                <!--{loop $list $key $value}-->
                <!--{eval $pwdkey = 'view_pwd_album_'.$value['albumid'];}-->
                <li>
                    <div class="c">
                        <a href="photo.php?do=pic&id=$value[albumid]" target="_blank" {if $_G['adminid'] != 1 && $value[uid]!=$_G[uid] && $value[friend]=='4' && $value[password] && empty($_G[cookie][$pwdkey])} onclick="showWindow('list_album_$value[albumid]', this.href, 'get', 0);"{/if}><!--{if $value[pic]}--><img src="$value[pic]" alt="$value[albumname]" /><!--{/if}--></a>
                    </div>
                    <p class="ptn"><a href="photo.php?do=pic&id=$value[albumid]" target="_blank" {if $_G['adminid'] != 1 && $value[uid]!=$_G[uid] && $value[friend]=='4' && $value[password] && empty($_G[cookie][$pwdkey])} onclick="showWindow('list_album_$value[albumid]', this.href, 'get', 0);"{/if} class="xi2"><!--{if $value[albumname]}-->$value[albumname]<!--{else}-->{lang default_album}<!--{/if}--></a><!--{if $value[picnum]}--> ($value[picnum]) <!--{/if}--></p>
                    
                    <span>{lang update} <!--{date($value[updatetime], 'n-j H:i')}--></span>
                </li>
                <!--{/loop}-->
            </ul>
            <!--{if $multi}--><div class="pgs cl mtm">$multi</div><!--{/if}-->
            <!--{else}-->
                <div class="emp">暂无图片</div>
            <!--{/if}-->
        </div>
        
        <!--[diy=diycontentbottom]--><div id="diycontentbottom" class="area"></div><!--[/diy]-->
    </div>
</div>

<div class="wp mtn">
    <!--[diy=diy3]--><div id="diy3" class="area"></div><!--[/diy]-->
</div>
<!--{template common/footer}-->