<!--{eval $_G['home_tpl_titles'] = array(getstr($pic['title'], 60, 0, 0, 0, -1), $album['albumname'], '{lang album}');}-->
<!--{eval $friendsname = array(1 => '{lang friendname_1}',2 => '{lang friendname_2}',3 => '{lang friendname_3}',4 => '{lang friendname_4}');}-->

<!--{template common/header}-->
<div id="pt" class="bm cl">
    <div class="z">
        <a href="./" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a> <em>&rsaquo;</em>
        <a href="photo.php?do=album">{lang album}</a> <em>&rsaquo;</em>
        <!--{if $album['catname']}-->
            <a href="photo.php?catid=$album[catid]">$album[catname]</a> <em>&rsaquo;</em>
         <!--{/if}-->
         <a href="photo.php?do={$do}&aid=$album[albumid]">$album[albumname]</a>
    </div>
</div>

<style id="diy_style" type="text/css"></style>
<div class="wp">
    <!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
</div>
    
<div id="ct" class="ct1 wp cl">
    <div class="mn">
        <!--[diy=diycontenttop]--><div id="diycontenttop" class="area"></div><!--[/diy]-->
        <div class="bm bw0">
            <div class="bm_c">
                <!--{if $pic[title]}--><h2>$pic[title]</h2><!--{/if}-->
                <div class="tbmu" id="pic_block">
                    <div class="y">
                        <a href="photo.php?do=$do&aid=$album[albumid]&picid=$upid">上一张</a><span class="pipe">|</span>
                        <a href="photo.php?do=$do&aid=$album[albumid]&picid=$nextid" id="nextlink">下一张</a><span class="pipe">|</span>
                        <a href="$pic[pic]" target="_blank">查看原图</a><span class="pipe">|</span>
                        <span id="displayNum"></span>
                    </div>
                    <!--{if $album[picnum]}-->
                        <!--{hook/space_album_pic_top}-->/$album[picnum]
                    <!--{/if}-->
                </div>
                
                <div class="vw pic">
                    <div id="photo_pic" class="c">
                        <a href="photo.php?do=$do&aid=$album[albumid]&picid=$nextid"><img src="$pic[pic]" id="pic" alt="$pic[title]" /></a> 
                    </div>

                    <div class="pns mlnv vm mtm cl">
                        <a href="photo.php?do=$do&aid=$album[albumid]&picid=$upid&goto=up" class="btn" title="{lang previous_pic}"><img src="{STATICURL}image/common/pic_nv_prev.gif" alt="{lang previous_pic}"/></a>
                        <!--{loop $piclist $value}-->
                            <a href="photo.php?do=$do&aid=$album[albumid]&picid=$value[picid]"><img alt="" src="$value[pic]"{if $value[picid]==$picid} class="a"{/if} /></a>
                        <!--{/loop}-->
                        <a href="photo.php?do=$do&aid=$album[albumid]&picid=$nextid" class="btn" title="{lang next_pic}"><img src="{STATICURL}image/common/pic_nv_next.gif" alt="{lang next_pic}"/></a>
                    </div>
                </div>
                <!--[diy=diyclicktop]--><div id="diyclicktop" class="area"></div><!--[/diy]-->
                                    
                <!--[diy=diycommenttop]--><div id="diycommenttop" class="area"></div><!--[/diy]-->
                <div id="pic_comment" class="bm bw0 mtm mbm">
                    <h3 class="pbn bbs">
                        <!--{if !empty($list)}-->
                            <a href="photo.php?do=$do&aid=$album[albumid]&picid=$pic[picid]#quickcommentform_{$picid}" onclick="if($('comment_message')){$('comment_message').focus();return false;}" class="y xi2 xw0">发表评论</a>
                        <!--{/if}-->
                        评论
                    </h3>
                    <div id="comment">
                        <!--{if $cid}-->
                        <div class="i">
                            {lang current_comment}
                        </div>
                        <!--{/if}-->

                        <div id="comment_ul" class="xld xlda">
                        <!--{loop $list $k $value}-->
                            <!--{template home/space_comment_li}-->
                        <!--{/loop}-->
                        </div>
                    </div>
                    <!--{if $multi}--><div class="pgs cl mtm">$multi</div><!--{/if}-->
                </div>
                <!--{if helper_access::check_module('album')}-->
                <form id="quickcommentform_{$picid}" name="quickcommentform_{$picid}" action="home.php?mod=spacecp&ac=comment&handlekey=qcpic_{$picid}" method="post" autocomplete="off" onsubmit="ajaxpost('quickcommentform_{$picid}', 'return_qcpic_{$picid}');doane(event);" class="bm bw0" style="width: 600px;">
                    <div class="tedt mtn mbn">
                        <div class="area">
                            <!--{if $_G['uid'] || $_G['group']['allowcomment']}-->
                                <textarea id="comment_message" onkeydown="ctrlEnter(event, 'commentsubmit_btn');" name="message" rows="3" class="pt"></textarea>
                            <!--{else}-->
                                <div class="pt hm">您需要登录后才可以评论 <a href="member.php?mod=logging&action=login" onclick="showWindow('login', this.href)" class="xi2">登录</a> | <a href="member.php?mod={$_G[setting][regname]}" class="xi2">$_G['setting']['reglinkname']</a></div>
                            <!--{/if}-->
                        </div>

                    </div>
                    <!--{if $secqaacheck || $seccodecheck}-->
                        <!--{block sectpl}--><sec> <span id="sec<hash>" onclick="showMenu(this.id);"><sec></span><div id="sec<hash>_menu" class="p_pop p_opt" style="display:none"><sec></div><!--{/block}-->
                        <div class="mtm mbm sec"><!--{subtemplate common/seccheck}--></div>
                    <!--{/if}-->
                    <p class="pns">
                        <input type="hidden" name="refer" value="$theurl" />
                        <input type="hidden" name="id" value="$picid" />
                        <input type="hidden" name="idtype" value="picid" />
                        <input type="hidden" name="commentsubmit" value="true" />
                        <input type="hidden" name="quickcomment" value="true" />
                        <button type="submit" name="commentsubmit_btn" value="true" id="commentsubmit_btn" class="pn"{if !$_G[uid]&&!$_G['group']['allowcomment']} onclick="showWindow(this.id, this.form.action);return false;"{/if}><strong>评论</strong></button>
                        <span id="__quickcommentform_{$picid}"></span>
                        <span id="return_qcpic_{$picid}"></span>
                        <input type="hidden" name="formhash" value="{FORMHASH}" />
                    </p>
                </form>
                <!--{/if}-->
            </div>

            <script type="text/javascript">
                function succeedhandle_qcpic_{$picid}(url, msg, values) {
                    if(values['cid']) {
                        comment_add(values['cid']);
                    } else {
                        $('return_qcpic_{$picid}').innerHTML = msg;
                    }
                }
            </script>

            <script type="text/javascript">
                var interval = 5000;
                var timerId = -1;
                var derId = -1;
                var replay = false;
                var num = 0;
                var endPlay = false;
                function forward() {
                    window.location.href = 'photo.php?do=$do&aid=$album[albumid]&picid=$nextid&play=1';
                }
                function derivativeNum() {
                    num++;
                    $('displayNum').innerHTML = '[' + (interval/1000 - num) + ']';
                }
                function playNextPic(stat) {
                    if(stat || replay) {
                        derId = window.setInterval('derivativeNum();', 1000);
                        $('displayNum').innerHTML = '[' + (interval/1000 - num) + ']';
                        $('playid').onclick = function (){replay = false;playNextPic(false);};
                        $('playid').innerHTML = '{lang stop_playing}';
                        timerId = window.setInterval('forward();', interval);
                    } else {
                        replay = true;
                        num = 0;
                        if(endPlay) {
                            $('playid').innerHTML = '{lang restart}';
                        } else {
                            $('playid').innerHTML = '{lang start_playing}';
                        }
                        $('playid').onclick = function (){playNextPic(true);};
                        $('displayNum').innerHTML = '';
                        window.clearInterval(timerId);
                        window.clearInterval(derId);
                    }
                }
               
            </script>

            <!--end bm-->

            <!--[diy=diycontentbottom]--><div id="diycontentbottom" class="area"></div><!--[/diy]-->
            </div>
        </div>
    </div>
</div>

<div class="wp mtn">
    <!--[diy=diy3]--><div id="diy3" class="area"></div><!--[/diy]-->
</div>
<script type="text/javascript" src="{$_G[setting][jspath]}photo_pic.js?{VERHASH}"></script>
<script type="text/javascript">
    viewPhoto({
        prepic:"photo.php?do=$do&aid=$album[albumid]&picid=$upid",
        nextpic:""
    });
</script>
<!--{template common/footer}-->