<!--{if $space[uid]}-->
<div id="uhd">
    <div class="h cl">
        <div class="icn avt"><a href="home.php?mod=space&uid=$space[uid]"><!--{avatar($space[uid],small)}--></a></div>
        <h2 class="mt">
            {$space[username]}
            <!--{if isset($flag[$_G['uid']])}-->
            <span class="xs1 xg1 xw0">
                <span id="followbkame_{$uid}"><!--{if $flag[$_G['uid']]['bkname']}-->$flag[$_G['uid']]['bkname']<!--{/if}--></span>
            </span>
            <!--{/if}-->
        </h2>
        <p>
            <a href="{$_G[siteurl]}?$uid" class="xg1">{$_G[siteurl]}?$uid</a>
        </p>
    </div>
    
</div>
<!--{/if}-->

<div id="pt" class="bm cl">
    <div class="z">
        <a href="./" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a> <em>&rsaquo;</em>
        <a href="home.php?mod=space&uid=$space[uid]">{$space[username]}</a> <em>&rsaquo;</em>
        <a href="home.php?mod=space&uid=$space[uid]&do=album&view=me&from=space">{lang album}</a>
    </div>
</div>